/* Defaults */
/* google fonts */
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}
ul li {
  list-style-type: none;
}
a {
  text-decoration: none;
  color: rgb(74, 85, 104);
}

.base-color {
  color: #228b22;
}
.shadow {
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
    0 4px 6px -2px rgba(0, 0, 0, 0.05);
}
/* color code: #228b22 */
.flex {
  display: flex;
  align-items: center;
  justify-content: center;
}
.global-width {
  margin: 0 auto;
  max-width: 65%;
}
section {
  padding: 2rem 2rem;
}
h1 {
  font-size: 3rem !important; /* ~48px */
}

h2 {
  font-size: 2.25rem !important; /* ~36px */
}

h3 {
  font-size: 1.75rem !important; /* ~28px */
}
h4 {
  font-size: 1.5rem !important; /* ~24px */
}
p,
a,
small {
  color: black;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  color: black;
}
.footer-menu a,
small {
  color: white;
}
/* Theme Toggler */
/* dark theme */
#dark p,
#dark a,
#dark small {
  color: white;
}
#dark h1,
#dark h2,
#dark h3,
#dark h4,
#dark h5,
#dark h6 {
  color: white;
}
/* dark theme */
/* Responsive part */
@media only screen and (max-width: 1800px) {
  .global-width {
    margin: 0 auto;
    max-width: 100%;
    padding: 20px;
  }
}
@media only screen and (max-width: 992px) {
  .global-width {
    margin: 0 auto;
    max-width: 100%;
    padding: 20px;
  }
  h1 {
    font-size: 2.5rem !important; /* ~40px */
  }

  h2 {
    font-size: 2rem !important; /* ~32px */
  }

  h3 {
    font-size: 1.5rem !important; /* ~24px */
  }
  h4 {
    font-size: 1.25rem !important; /* ~24px */
  }
  section {
    padding: 2rem;
  }
}
@media only screen and (max-width: 600px) {
  .global-width {
    margin: 0 auto;
    max-width: 100%;
    padding: 20px;
  }
  h1 {
    font-size: 2rem !important; /* ~32px */
  }

  h2 {
    font-size: 1.5rem !important; /* ~24px */
  }

  h3 {
    font-size: 1.25rem !important; /* ~20px */
  }
  h4 {
    font-size: 1.125rem !important; /* ~18px */
  }
  section {
    padding: 2rem 0;
  }
  p {
    font-size: 14px;
  }
}
