.table-container {
  overflow-x: auto;
  height: 70vh;
}
#applicationList table {
  /* margin-top: 20px; */
  border-collapse: collapse;
  width: 100%;
  table-layout: auto;
  min-width: 1000px;
}
#applicationList table td,
th {
  border: 1px solid #dddddd;
  text-align: center;
  padding: 8px;
}
.status {
  background-color: #ccecf4;
  margin: 5px;
}
.table-container table td {
  font-size: 14px;
  padding: 8px !important;
}
.table-container table th {
  font-size: 15px;
  padding: 8px !important;
  text-align: center;
}
.search-container {
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
}
.search-container input {
  border: none;
  outline: none;
  padding: 10px 15px;
  font-size: 14px;
  border-radius: 5px;
  margin-top: 5px;
  border: 1px solid gainsboro;
}
.search-container button {
  padding: 0;
  margin: 0;
  border: none;
  outline: none;
  padding: 10px 15px;
  font-size: 14px;
  border-radius: 5px;
  margin-top: 5px;
  cursor: pointer;
  background-color: #228b22;
  color: white;
}
.table-icons-container {
  display: flex;
  align-items: center;
  gap: 10px;
  justify-content: center;
}
.table-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px;
  border-radius: 2px;
  cursor: pointer;
  border: 1px solid gainsboro;
}
.modalBox {
  background-color: white;
  position: fixed;
  top: 0;
  left: 0;
  padding: 20px;
  border-radius: 3px;
  overflow-y: scroll;
  width: 100% !important;
  height: 90vh;
}
#credential form {
  display: flex;
  align-items: center;
  gap: 10px;
  flex-direction: column;
  width: 100%;
  margin-top: 10px;
  justify-content: center;
}
#credential .formElement {
  display: flex;
  gap: 5px;
  flex-direction: column;
  width: 50%;
}
#credential .formElement input {
  width: 100%;
  padding: 8px 10px;
  font-size: 15px;
  border: 1px solid gainsboro;
  border-radius: 5px;
  outline: none;
}
/* dark theme */
#dark #applicationList {
  background-color: #101828;
  /* color: white; */
}
#dark #applicationList h2 {
  color: white;
}
#dark #applicationList table td,
th {
  border: 1px solid rgba(220, 220, 220, 0.5);
}
#dark .table-container {
  color: white;
}
#dark .xMark {
  color: white;
}
/* dark theme */
