#bottomSticky {
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
  bottom: 0;
  padding: var(---primaryPadding);
  width: 70%;
  background-color: white;
  border: var(---primaryBorder);
}
